*
!README.md
!Makefile

!docs
!docs/index.md
!docs/_posts
!docs/_posts/*.md
!docs/_drafts
!docs/_drafts/*.md

!.gitignore

!bcompiler
!bcompiler/README
!bcompiler/bootstrap
!bcompiler/*.he
!bcompiler/*.bc

!hex
!hex/*

!csrc
!csrc/*.c
!csrc/*.h
